@import "tailwindcss";

.text-secondary-gradient {
  background: linear-gradient(to bottom, rgba(127, 127, 127, 0.5), #3D3D3D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

/* https://ui.glass/generator/ */
.glass {
    backdrop-filter: blur(19px) saturate(148%);
    -webkit-backdrop-filter: blur(19px) saturate(148%);
    background-color: rgba(37, 37, 37, 0.5);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.golive {
  backdrop-filter: blur(10px) saturate(148%);
  -webkit-backdrop-filter: blur(10px) saturate(148%);
  background-color: rgba(194, 194, 194, 0.5);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.arrow {
  backdrop-filter: blur(10px) saturate(148%);
  -webkit-backdrop-filter: blur(0px) saturate(148%);
  background-color: rgba(194, 194, 194, 0.5);
  border: 1px solid rgba(209, 213, 219, 0.3);
}